
cmake-build-debug/CMakeFiles/programming_basics_project.dir/CXX.includecache
*.exe
cmake-build-debug/Testing/Temporary/LastTest.log
cmake-build-debug/CMakeFiles/programming_basics_project.dir/src/main.cpp.obj
cmake-build-debug/CMakeFiles/programming_basics_project.dir/objects.a
